{% extends 'base.html' %}
{% load staticfiles %}
{% load require %}

{% block title %}Street Cube Test{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/3rdparty/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vis.css' %}" />
    <link rel="stylesheet" href="{% static 'streetcube/css/test.css' %}">
    <link rel="stylesheet" href="{% static 'streetcube/css/cube.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/3rdparty/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/3rdparty/jquery-ui.min.js' %}"></script>
    {% require_module 'streetcube/js/test-main' %}
{% endblock %}


{% block content %}
<p id="status"></p>

<div id="hours"></div>
<div id="days"></div>
<div id="summary"></div>

<table id="results">
    <caption>Test and Timing Data for Street Cube Sets</caption>
    <tr><th class="main-header">Dimension</th><th class="main-header">Results</th></tr>
</table>
{% endblock %}